{{define "yield"}}
<div>
<h1 style="color:red">Pay me money because I am the boss of all websites</h1>

This page has no nav bar to show how badass we are.

<p>Return to <a href="/">Home</a></p>
</div>
{{end}}